DATASET=sample-pg15
DATASET_NAME="Sample DWH (PG15)"
SAMPLE_DB_DISPLAY_NAME=sample_dwh_pg15

QA_SAMPLE_IMAGE=metabase/qa-databases:postgres-sample-15

SAMPLE_DB_NAME=sample
SAMPLE_DB_USER=metabase
SAMPLE_DB_PASSWORD=metasample123