DATASET=sample-mysql8
DATASET_NAME="Sample DWH (MySQL 8)"
SAMPLE_DB_DISPLAY_NAME=sample_dwh_mysql8
SAMPLE_DB_TYPE=MySQL 8

QA_SAMPLE_IMAGE=metabase/qa-databases:mysql-sample-8

SAMPLE_DB_NAME=sample
SAMPLE_DB_USER=metabase
SAMPLE_DB_PASSWORD=metasample123
SAMPLE_DB_ROOT_PASSWORD=metasample123

METABASE_CONFIG_FILE=config-mysql8.yml
